body {
	font-family:"Georgia", serif;
        font-size: 24px;
	border-width: 0;
        text-align:center;
        margin-top: 0;
}

h1 {
	font-size: 28px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	text-align: center;
	width: 800px;
}

h2 {
	font-family: Verdana;
	font-size: 28px; 
	text-align: left;
}

h3, h4 {
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 800px;
}
      
#_idGenPageitem-1 {
	text-align: center;	
        background-image: url("images/coverlettera/400/Sutro.png");
	display: none;
}  

p.Basic-Paragraph-1 {
	font-size: 38px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	margin-top: 2%;
}

p.Basic-Paragraph-2 {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	margin-top:0;
	text-align: left;	
}
  
p.Basic-Paragraph-3 {
	font-size: 22px;
	width: 700px;
	text-align: left;
}

p.Basic-Paragraph-4 {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	text-align: left;
}

p.Basic-Paragraph-5 {
	text-align: center;
}
   
img._idGenPageitem-1 {
}     
    
div._idGenObjectLayout-1 {
	margin-left: auto;
	clear: both;
}
       
div._idGenObjectLayout-2 {
	margin-left: auto;
	clear: both;
}

ul {
	list-style: none;
}

a:link {color: #474541;}
a:hover {color: #0000FF;} 
a:active {color: #0000FF;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

a:visited {background-color: #6B0F8A;}
 
.generalobject {
	display: inline-block;
}

footer {
	background-color: gray;
	color: white;
	font-family: Karla;
	font-size: 1.5rem;
	text-align: center;
	padding: 2em 1em;
} 
  
@media screen and (max-width: 480px) 
{
h1 {
	width: 300px;
	margin-top: 0;
}

img._idGenPageitem-1 {
	margin-top: -5%;
	margin-bottom: -5%;
}
 
p.Basic-Paragraph-1 {
	padding: 0;
}

p.Basic-Paragraph-1,
p.Basic-Paragraph-2,
p.Basic-Paragraph-3,
p.toggler {width: 100%; margin-left: 0; font-size: 118%;
}

img._idGenPageitem-1 {height: auto; width: 260px; margin-left: 0; 
}

div._idGenObjectLayout-1,
div._idGenObjectLayout-2 {width: 100%; border-width:0; display: inline;
}
}
 
@media screen and (max-width: 320px) 
{
p.Basic-Paragraph-1 {
	font-size: 95%;
}
p.Basic-Paragraph-2 { margin-left: 0; font-size: 90%;
}
img._idGenPageitem-1 {
	margin-top: -6%;
	margin-bottom: -8%;
}
	img._idGenPageitem-1 {height: 100%; width: 100%; margin-left: 0;
}
}